regex
requests
beautifulsoup4
python-dotenv
moviepy
selenium
imgkit
pymongo
opencv-python
pandas
matplotlib
seaborn
scipy>=1.4.1
torch
torchvision
torchaudio
PyQt5
pyqt5-tools
opencv-python
ffmpeg
ffmpeg-python